# ─── Server Configuration ─────────────────────────────────────
PORT=3000

# ─── PostgreSQL Connection ────────────────────────────────────
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=.....
DB_NAME=.....

# ─── Redis Connection ─────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

SHOPIFY_API_VERSION=2026-07
SHOPIFY_REVIEW_METAOBJECT_TYPE=reviews

JWT_ACCESS_SECRET=98c0e84be2ca....
JWT_ACCESS_EXPIRES_IN=15m
ADMIN_SECRET=39c56f522c896d4a....
FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=dwp6...
CLOUDINARY_API_KEY=771....
CLOUDINARY_API_SECRET=wLdO3H...
CLOUDINARY_FOLDER=review_upload

SHOPIFY_API_KEY=48dc.....
SHOPIFY_API_SECRET=shpss_.....
SHOPIFY_SCOPES=read_metaobjects,write_metaobjects,read_files,write_files,read_online_store_pages,write_online_store_pages,read_product_feeds,write_product_feeds,read_product_listings,write_product_listings,read_products,write_products,read_themes,write_themes
SHOPIFY_APP_URL=https://admin-manage-reviews.mint-lab.store